<div class="ui grid">
  <div class="four wide column">
    <div class="ui card">
      <div class="image">
        <img [src]="user.imgUrl" alt="User's profile picture" />
      </div>
      <div class="content">
        <a class="header">{{ user.name }}</a>
        <div class="description">
          {{ user.email }}
        </div>
      </div>
    </div>
  </div>
  <div class="twelve wide column">
    <button class="ui button" (click)="enableChangeFields()">Change profile info</button>
    <form class="ui form">
      <div [class]="inputFieldClass">
        <label>Name</label>
        <input type="text" name="name" [value]="user.name" (keyup)="onChangeName($event)" />
      </div>
      <div [class]="inputFieldClass">
        <label>Email</label>
        <input type="text" name="email" [(ngModel)]="user.email" />
      </div>
      <button class="ui button" type="button" (click)="disableChangeFields()">Finish</button>
    </form>
  </div>
</div>
