<div class="image">
  <img [src]="product.imgSrc" />
</div>
<div class="content">
  <a class="header">{{ product.name }}</a>
  <div class="meta">
    <span>Price: ${{ product.price }}</span>
  </div>
  <div class="description">
    <p>{{ product.description }}</p>
  </div>
  <div class="extra">
    <p>
      Check <a>{{ product.owner.name }}'s page</a>!
    </p>
    <div [ngSwitch]="product.popularity">
      <span *ngSwitchCase="ProductPopularityEnum.VeryPopular" class="ui red tag label">{{ ProductPopularityEnum.VeryPopular }}</span>
      <span *ngSwitchCase="ProductPopularityEnum.Popular" class="ui green tag label">{{ ProductPopularityEnum.Popular }}</span>
      <span *ngSwitchCase="ProductPopularityEnum.Average" class="ui blue tag label">{{ ProductPopularityEnum.Average }}</span>
      <span *ngSwitchDefault class="ui tag label">{{ ProductPopularityEnum.NotPopular }}</span>
    </div>
    <button type="button" class="ui button" *ngIf="product.forSale">Buy</button>
  </div>
</div>
